@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "AvenirDemi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "AvenirBold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Avenir", sans-serif;
}

a {
  color: inherit;
  line-height: 0%;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 1.5rem 2.25rem 1.25rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding-left: 10%;
  }
}
.header__logoimg {
  width: 50%;
  min-width: 7.5rem;
  min-height: 1.25rem;
}
@media (min-width: 768px) {
  .header__logoimg {
    width: 7.5rem;
    height: 1.25rem;
  }
}
.header__navlist {
  color: #E1E1E1;
  display: flex;
  justify-content: space-around;
}
.header__listitem, .header__listitem--active {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0 1.25rem;
}
@media (min-width: 768px) {
  .header__listitem, .header__listitem--active {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.header__listitem--active {
  color: #FFFFFF;
  border-bottom: solid 0.25rem;
  padding: 0.5rem 0 1.25rem;
}
.header__listitem:hover, .header__listitem--active:hover {
  color: #FFFFFF;
  border-bottom: solid 0.25rem;
}
@media (min-width: 768px) {
  .header__listitem, .header__listitem--active {
    padding: 2.25rem 0 2rem;
    margin: 0 1.5rem;
  }
}

.footer {
  background-color: #323232;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 10% 2.25rem;
  }
}
.footer__touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__touch {
    padding-bottom: 1.5rem;
  }
}
.footer__touch--left {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__touch--left {
    flex-direction: row;
    align-items: center;
  }
}
.footer__touch--right {
  max-width: 7.5rem;
  max-height: 1.25rem;
  display: none;
}
@media (min-width: 768px) {
  .footer__touch--right {
    display: flex;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirDemi", sans-serif;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__icons {
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__icons {
    width: 7.25rem;
    margin: 0 1.75rem;
  }
}
.footer__icon {
  height: 1.5rem;
}
@media (min-width: 768px) {
  .footer__icon {
    height: 2.25rem;
  }
}
.footer__sections {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__sections {
    flex-direction: row;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__section--middle {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__section--middle {
    padding: 0 2.25rem;
  }
}
.footer__subheading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  color: #FFFFFF;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__subheading {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.015625rem;
    padding: 0.75rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__subheading {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  color: #FFFFFF;
  margin: 0.5rem 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 768px) {
  .footer__copy {
    margin: 0.75rem 0;
  }
}
.footer__bottom {
  padding-top: 2rem;
}
.footer__bottomlogo {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__bottomlogo {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-family: "Avenir";
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero {
  height: 55vw;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1280px) {
  .hero {
    height: 50vw;
  }
}
.hero__overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "AvenirDemi", sans-serif;
  letter-spacing: 0.0625rem;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 10%;
  }
}

.about {
  color: #323232;
  padding: 0.5rem 0;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about {
    margin: 0 2.25rem;
    padding: 3rem 0;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 10%;
  }
}
.about__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirDemi", sans-serif;
  margin: 1rem 0 1rem;
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .about__heading {
    margin: 0 0 1.5rem;
  }
}
.about__article {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__article {
    margin: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .about__article {
    margin: 0 5.5rem;
  }
}
.about__image {
  height: 55vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .about__image {
    height: 40vw;
  }
}
@media (min-width: 1280px) {
  .about__image {
    height: 35vw;
  }
}
.about__quote {
  margin: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  font-family: "AvenirDemi";
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__quote {
    margin: 2.25rem 0 1rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 90%;
  }
}
.about__quoter {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  font-family: "AvenirDemi";
}
@media (min-width: 768px) {
  .about__quoter {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__quoter {
    font-size: 1rem;
  }
}
.about__subheading {
  margin: 1.5rem 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  color: #000000;
}
@media (min-width: 768px) {
  .about__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .about__subheading {
    margin: 3rem 0 1rem;
    font-family: "AvenirDemi";
  }
}
.about__paragraphs {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__paragraphs {
    flex-direction: row;
  }
}
.about__paragraph {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .about__paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .about__paragraph {
    margin: 0 1rem 0 0;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery {
    padding: 3rem 1.5rem 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 3rem 10% 1.5rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirDemi", sans-serif;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__photos {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .gallery__photos {
    width: 100%;
  }
}
.gallery__photo {
  margin: 0.5rem 0;
  filter: grayscale(100%);
}
.gallery__photo:hover {
  filter: none;
}
@media (min-width: 768px) {
  .gallery__photo {
    height: 15.3666173418vw;
    padding: 0.75rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    height: 13vw;
  }
}

.comments {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments {
    margin: 0 2.25rem;
    padding: 3rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    margin: 0 10%;
  }
}
.comments__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirDemi", sans-serif;
  color: #323232;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .comments__title {
    padding-bottom: 2.25rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  width: auto;
}
@media (min-width: 1280px) {
  .comments__form {
    padding: 0 10rem;
  }
}
.comments__input {
  width: auto;
  display: flex;
  border-bottom: solid 1px #E1E1E1;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .comments__input {
    margin: 0 5rem;
  }
}
@media (min-width: 1280px) {
  .comments__input {
    margin: 0 5.5rem;
  }
}
.comments__image {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 1rem;
  margin-top: 1.425rem;
}
@media (min-width: 768px) {
  .comments__image {
    margin-top: 1.625rem;
  }
}
.comments__image-me {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 1rem;
}
.comments__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__label {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .comments__label {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  color: #323232;
  border-radius: 0.25rem;
  height: 2.25rem;
  padding: 0 0.75rem;
  border: solid 1px #E1E1E1;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .comments__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__name::-moz-placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__name:-ms-input-placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__name::placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__comment {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  border-radius: 0.25rem;
  min-height: 5.75rem;
  padding: 0.75rem;
  border: solid 1px #E1E1E1;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .comments__comment {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__comment::-moz-placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__comment:-ms-input-placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__comment::placeholder {
  color: #000000;
  font-family: "Avenir";
}
.comments__button {
  color: #FFFFFF;
  background-color: #323232;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: none;
}
.comments__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comments__button {
    width: 9.375rem;
    padding: 0 2rem;
    align-self: flex-end;
  }
}
.comments__posted {
  width: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments__posted {
    margin: 0 5rem;
  }
}
@media (min-width: 1280px) {
  .comments__posted {
    margin: 0 5.5rem;
  }
}
.comments__postedComment {
  width: auto;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #E1E1E1;
  padding: 1.25rem 0;
}
.comments__postedComment-image {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 1rem;
}
.comments__postedComment-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__postedComment-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}
.comments__postedComment-name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  font-family: "AvenirDemi";
}
@media (min-width: 768px) {
  .comments__postedComment-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__postedComment-date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .comments__postedComment-date {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments__postedComment-main {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
}
@media (min-width: 768px) {
  .comments__postedComment-main {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=bio.css.map */