@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use "partials/global" as *;

// .header {
//     background-color: $primary-color1;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     @include tablet{
//         flex-direction: row;
//         align-items: center;        
//     }
//     &__logo {
//         display: flex;
//         justify-content: center;
//         padding: 1rem 0 0.5rem; 
//         @include tablet {
//             padding: 1.5rem 2.25rem 1.25rem;
//         } 
//         @include desktop{
//             padding-left: 10%;           
//         }       
//     }            
//     &__logoimg {      
//         width: 50%;  
//         min-width: 7.5rem;
//         min-height: 1.25rem;
//         @include tablet {
//             width: 7.5rem;
//             height: 1.25rem;
//         }             
//     }
//     &__navlist {        
//         color: $secondary-color2;
//         display: flex;
//         justify-content: space-around;
//     }
//     &__listitem {
//         @include phone-body-copy;
//         font-weight: 400;
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         padding: 0.5rem 0 1rem;
//         &--active {
//             @extend .header__listitem;
//             color: $primary-color3;
//             border-bottom: solid 0.25rem;
//         }
//         &:hover {            
//             color: $primary-color3;
//             border-bottom: solid 0.25rem;
//         } 
//         @include tablet {
//             padding: 1.5rem 0;
//             margin: 0 1.5rem;
//         }    
//     }
// }

.hero {
    height: 55vw;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    @include desktop {
        height: 50vw;
    }    
    &__overlay {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(50,50,50,0.5)
    }    
    &__title {
        @include phone-page-heading;
        color: $primary-color3;
        padding: 1rem;
        @include tablet {
            padding: 2.25rem;
        }
        @include desktop{
            padding-left: 10%;           
        }   
    }    
}

.about {
    color: $primary-color1;
    padding: 0.5rem 0;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin: 0 2.25rem;
        padding: 3rem 0;
    }
    @include desktop{
        margin: 0 10%;           
    }
    &__heading {
        @include phone-section-heading;
        margin: 1rem 0 1rem;
        @include tablet{
            margin: 0 0 1.5rem;          
        }
    }
    &__article {        
        display: flex;
        flex-direction: column;
        @include tablet {
            margin: 0 3.75rem;            
        } 
        @include desktop {
            margin: 0 5.5rem;
        }       
    }
    &__image {
        height: 55vw;
        object-fit: cover;
        object-position: center;        
        @include tablet {
            height: 40vw;
        }
        @include desktop {
            height: 35vw;
        }
    }
    &__quote {
        margin: 1rem 0;
        @include phone-sub-heading;
        font-family: "AvenirDemi";
        @include tablet {
            margin: 2.25rem 0 1rem;
        }
        @include desktop {
            width: 90%;
        }
    }
    &__quoter {
        @include phone-sub-heading;
        font-family: "AvenirDemi";
        @include tablet {
            font-size: 1rem;
        }
    }
    &__subheading {
        margin: 1.5rem 0 0.5rem;
        @include phone-sub-heading;
        color: $secondary-color1;
        @include tablet{
            margin: 3rem 0 1rem;
            font-family: "AvenirDemi";
        }
    }
    &__paragraphs {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }
    &__paragraph {
        @include phone-body-copy;
        margin: 0.5rem 0;
        @include tablet {
            margin: 0 1rem 0 0;
        }
    }
}

.gallery {
    background-color: $secondary-color3;
    padding:1.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        padding: 3rem 1.5rem 1.5rem;
    }
    @include desktop{
        padding: 3rem 10% 1.5rem;            
    }
    &__title {
        @include phone-section-heading;
        color: $primary-color1;
        @include tablet {
            margin-left: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
    &__photos {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        @include desktop {
            width: 100%;
        }        
    }
    &__photo {
        margin: 0.5rem 0;
        filter: grayscale(100%); 
        &:hover {
            filter: none;
        }
        @include tablet {
            height: 15.3666173418362932423519850999582558vw;
            //there is a reason for this madness ^ please inquire why if curious.
            padding: 0.75rem;
            margin: 0;                       
        }
        @include desktop{             
            height: 13vw;          
        }
    }
}

.comments {
    padding: 1.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin: 0 2.25rem;
        padding: 3rem 0 2.25rem;
    }
    @include desktop{
        margin: 0 10%;           
    }
    &__title {
        @include phone-section-heading;
        padding-bottom: 1rem;
        @include tablet {
            padding-bottom: 2.25rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: auto;
        @include desktop {
            padding: 0 10rem;
        }
    }
    
    &__input {
        width: auto;
        display: flex;
        border-bottom: solid 1px $secondary-color2;
        padding-bottom: 1.25rem;
        @include tablet {
            margin: 0 5rem;
            // padding-bottom: 2.25rem;
            // width: 85%;            
        } 
        @include desktop {
            margin: 0 5.5rem;
        }           
    }
    &__avatar {

    }    
    &__image {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;
        margin-top: 1.425rem;
        @include tablet {
            margin-top: 1.625rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__label {
        @include phone-body-copy;
        font-size: 0.75rem;
        padding-bottom: 0.25rem;
        color: $primary-color2;
    }
    &__name {
        @include phone-body-copy;        
        color: $primary-color1;
        border-radius: 0.25rem;
        height: 2.25rem;
        padding: 0 0.75rem;
        border: solid 1px $secondary-color2;
        background-color: $secondary-color3;
        &::placeholder {
            color: $secondary-color1; 
            font-family: "Avenir";           
        }
    }
    &__comment {
        @include phone-body-copy;
        border-radius: 0.25rem;
        min-height: 5.75rem;
        padding: 0.75rem;
        border: solid 1px $secondary-color2;
        background-color: $secondary-color3;
        &::placeholder {
            color: $secondary-color1;
            font-family: "Avenir";               
        }
    }
    &__button {
        color: $primary-color3;
        background-color: $primary-color1;
        // padding: 0.75rem;
        height: 2.5rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        border: none;
        &:hover {
            background-color: $secondary-color1;
        }
        @include tablet {
            width: 9.375rem;
            padding: 0 2rem;
            align-self: flex-end;
        }
    }
    &__posted {
        width: auto;
        display: flex;
        flex-direction: column;
        // border-bottom: solid 1px $secondary-color2;
        // padding-bottom: 1.25rem;
        @include tablet {
            margin: 0 5rem;
            // padding-bottom: 2.25rem;
            // width: 85%;            
        } 
        @include desktop {
            margin: 0 5.5rem;
        } 
    }
    &__postedComment {
        width: auto;
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px $secondary-color2;
        padding: 1.25rem 0;
    }
    &__postedComment-left {

    }
    &__postedComment-image {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        background-color: $secondary-color2;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;        
    }
    &__postedComment-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__postedComment-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.25rem;
    }
    &__postedComment-name {
        @include phone-body-copy;
        font-family: "AvenirDemi";
    }
    &__postedComment-date {
        @include phone-body-copy;
        color: $primary-color2;        
    }
    &__postedComment-main {
        @include phone-body-copy;
    }
}


// .footer {
//     background-color: $primary-color1;
//     padding: 1.5rem 1rem 1rem;
//     @include tablet {
//         padding: 3rem 2.25rem 2.25rem;
//     }
//     @include desktop {
//         padding: 3rem 10% 2.25rem;
//     }
//     &__touch {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         @include tablet {
//             padding-bottom: 1.5rem;
//         }
//         &--left {
//             display: flex;
//             flex-direction: column;
//             @include tablet {
//                 flex-direction: row;
//                 align-items: center;                
//             }
//         }
//         &--right {
//             max-width: 7.5rem;
//             max-height: 1.25rem;
//             display: none;
//             @include tablet {
//                 display: flex;
//             }
//         }        
//     }
//     &__title {
//         @include phone-section-heading;
//         color: $primary-color3;
//     }
//     &__icons {
//         height: 2.25rem;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin: 1rem 0;
//         @include tablet {
//             width: 7.25rem;
//             margin: 0 1.75rem;
//         }
//     }
//     &__icon {
//         height: 1.5rem;
//         @include tablet {
//             height: 2.25rem;
//         }
//     }
//     &__sections {
//         display: flex;
//         flex-direction: column;
//         @include tablet {
//             flex-direction: row;
//         }
//     }
//     &__section {
//         display: flex;
//         flex-direction: column;
//         &--middle {
//             display: flex;
//             flex-direction: column;
//             @include tablet {
//                 padding: 0 2.25rem;
//             }
//         }
//     }
//     &__subheading {
//         @include phone-sub-heading;
//         color: $primary-color3;
//         margin: 1rem 0;
//         @include tablet {
//             @include phone-footer-copy;
//             padding: 0.75rem 0;
//             margin: 0;
//         }
//     }
//     &__copy {
//         @include phone-footer-copy;
//         color: $primary-color3;
//         margin: 0.5rem 0;
//         font-weight: 400;
//         @include tablet {
//             margin: 0.75rem 0;
//         }
//     }
//     &__bottom {
//         padding-top: 2rem;
//     }
//     &__bottomlogo {
//         margin: 1rem 0;
//         @include tablet {
//             display: none;
//         }
//     }
//     &__copyright {
//         @include phone-footer-copy;
//         color: $primary-color3;
//         font-size: 0.75rem;
//         font-family: "Avenir";
//         font-weight: 400;        
//     }
// }