$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}


@font-face {
    font-family: "Avenir";
    src:url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");   
}

@font-face {
    font-family: "AvenirDemi";
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
    // font-weight: 600;
}

@font-face {
    font-family: "AvenirBold";
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
    // font-weight: bold;
}

$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFFFFF;
$secondary-color1: #000000;
$secondary-color2: #E1E1E1;
$secondary-color3: #FAFAFA;

@mixin phone-page-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "AvenirDemi";
    letter-spacing: 0.0625rem;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;        
    }
}

@mixin phone-section-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    // font-weight: 700;
    font-family: "AvenirDemi"; 
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }   
}

@mixin phone-sub-heading {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
    // font-family: "AvenirDemi";
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin phone-body-copy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.015625rem;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin phone-footer-copy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.015625rem;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@mixin phone-labels-and-buttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Avenir";
    // src: url(../assets/fonts/AvenirNextLTPro-Regular.otf)
}

.header {
    background-color: $primary-color1;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet{
        flex-direction: row;
        align-items: center;        
    }
    &__logo {
        display: flex;
        justify-content: center;
        padding: 1rem 0 0.5rem; 
        @include tablet {
            padding: 1.5rem 2.25rem;
        }       
    }            
    &__logoimg {      
        width: 50%;  
        max-width: 7.5rem;
        max-height: 1.25rem;
        @include tablet {
            width: 7.5rem;
            height: 1.25rem;
        }        
    }
    &__navlist {        
        color: $primary-color3;
        display: flex;
        justify-content: space-around;
    }
    &__listitem {
        @include phone-body-copy;
        font-weight: 400;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 0 1rem;
        @include tablet {
            padding: 1.5rem 0;
            margin: 0 1.5rem;
        }    
    }
}

.hero {
    height: 55vw;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;    
    &__overlay{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(50,50,50,0.5)
    }    
    &__title {
        @include phone-page-heading;
        color: $primary-color3;
        padding: 1rem;
        @include tablet {
            padding: 2.25rem;
        }
    }    
}

.about {
    color: $primary-color1;
    padding: 0.5rem 0;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin: 0 2.25rem;
        padding: 3rem 0;
    }
    &__heading {
        @include phone-section-heading;
        margin: 1rem 0 1rem;
        @include tablet{
            margin: 0 0 1.5rem;          
        }
    }
    &__article {
        // width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            margin: 0 3.75rem;            
        }        
    }
    &__image {
        height: 55vw;
        @include tablet {
            height: 40vw;
        }
    }
    &__quote {
        margin: 1rem 0;
        @include phone-sub-heading;
        font-family: "AvenirDemi";
        @include tablet {
            margin: 2.25rem 0 1rem;
        }
    }
    &__quoter {
        @include phone-sub-heading;
        font-family: "AvenirDemi";
        @include tablet {
            font-size: 1rem;
        }
    }
    &__subheading {
        margin: 1.5rem 0 0.5rem;
        @include phone-sub-heading;
        color: $secondary-color1;
        @include tablet{
            margin: 3rem 0 1rem;
            font-family: "AvenirDemi";
        }
    }
    &__paragraphs {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }
    &__paragraph {
        @include phone-body-copy;
        margin: 0.5rem 0;
        @include tablet {
            margin: 0 1rem 0 0;
        }
    }
}

.gallery {
    background-color: $secondary-color3;
    padding:1.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        padding: 3rem 1.5rem 1.5rem;
    }
    &__title {
        @include phone-section-heading;
        color: $primary-color1;
        @include tablet {
            margin-left: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
    &__photos {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
    &__photo {
        margin: 0.5rem 0;
        @include tablet {
            height: 15.3666173418362932423519850999582558vw;
            //there is a reason for this ^ please inquire why if curious.
            padding: 0.75rem;
            margin: 0;            
        }
    }
}

.footer {
    background-color: $primary-color1;
    padding: 1.5rem 1rem 1rem;
    @include tablet {
        padding: 3rem 2.25rem 2.25rem;
    }
    &__touch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--left {
            display: flex;
            flex-direction: column;
            @include tablet {
                flex-direction: row;
                align-items: center;
                padding-bottom: 1.5rem;
            }
        }
        &--right {
            max-width: 7.5rem;
            max-height: 1.25rem;
            display: none;
            @include tablet {
                display: flex;
            }
        }        
    }
    &__title {
        @include phone-section-heading;
        color: $primary-color3;
    }
    &__icons {
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        @include tablet {
            width: 7.25rem;
            margin: 0 1.75rem;
        }
    }
    &__icon {
        height: 1.5rem;
        @include tablet {
            height: 2.25rem;
        }
    }
    &__sections {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }
    &__section {
        display: flex;
        flex-direction: column;
        &--middle {
            display: flex;
            flex-direction: column;
            @include tablet {
                padding: 0 2.25rem;
            }
        }
    }
    &__subheading {
        @include phone-sub-heading;
        color: $primary-color3;
        margin: 1rem 0;
        @include tablet {
            @include phone-footer-copy;
            padding: 0.75rem 0;
            margin: 0;
        }
    }
    &__copy {
        @include phone-footer-copy;
        color: $primary-color3;
        margin: 0.5rem 0;
        font-weight: 400;
        @include tablet {
            margin: 0.75rem 0;
        }
    }
    &__bottom {
        padding-top: 2rem;
    }
    &__bottomlogo {
        margin: 1rem 0;
        @include tablet {
            display: none;
        }
    }
    &__copyright {
        @include phone-footer-copy;
        color: $primary-color3;
        font-size: 0.75rem;
        font-family: "Avenir";
        font-weight: 400;
        
    }
}